<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">
  <head>
{{- block "head" . }}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ .Site.Title }}{{ with $.Title }} - {{ $.Title }}{{ end }}</title>
    {{- $sastyle := resources.Get "css/plain.scss" | toCSS }}
    <link rel="stylesheet" href="{{ $sastyle.Permalink }}"><!-- <link rel="stylesheet" href="css/bootstrap.css"> -->
    <link rel="icon" href="{{ .Site.Params.icon }}">
    <link rel="alternate" type="application/rss+xml" href="index.xml">
    <link rel="alternate" type="application/rss+xml" href="/sitemap.xml">
    <base href="{{ .Site.BaseURL }}" target="_blank">
  <!-- Facebook Open Graph -->
    <meta property="og:site_name" content="">
    <meta property="og:url" content="">
    <meta property="og:title" content="">
    <meta property="og:image" content="">
    <meta property="og:description" content="">
{{- end }}
{{- block "head_custom" . }}
{{- end }}
  </head>
  <body>
{{- block "header" . }}
{{- partial "header.html" . -}}
{{- end }}
  <div class="container min-vh-100">
    <main class="text-wrap text-break">
{{- block "titlePlace" . }}
      <h2>{{ .Title }}</h2>
{{- end }}
{{- block "readPlace" . }}
      <div id="info">
        <ul></ul>
      </div>
      {{.Content}}
{{- end }}
    </main>
  </div>
{{- block "footer" . }}
{{- partial "footer.html" . -}}
{{- end }}
  </body>
</html>