    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ .Site.Title }}</title>
  <!-- <link rel="stylesheet" href="css/bootstrap.css"> -->
    {{ $sastyle := resources.Get "css/plain.scss" | toCSS }}
    <link rel="stylesheet" href="{{ $sastyle.Permalink }}">
    <link rel="icon" href="{{ .Site.Params.icon }}">

  <!-- Facebook Open Graph -->
    <meta property="og:site_name" content="">
    <meta property="og:url" content="">
    <meta property="og:title" content="">
    <meta property="og:image" content="">
    <meta property="og:description" content="">

  <!--<style>
  .pl-navbar-light {
    background-color: #f8f9fa;
    color: rgba(0,0,0,.9);
  }
  @media (prefers-color-scheme: dark) {
    .navbar-light {
      background-color: #343a40;
      color: #fff;
    }
  }
  </style>
    <script source="js/bootstrap.js"></script>
  -->