          <div class="d-flex align-content-center flex-wrap">
            <h3 class="pr-4 text-nowrap">{{ .title }}</h3>
            <div class="text-muted pl-0 pt-0">{{ .description }}</div>
            <div class="text-muted p-2 user-select-none position-relative" >
              <svg class="ml-1" width=".9rem" height=".9rem" fill="currentColor">
                <use xlink:href="/icon/bootstrap-icons.svg#plus-square"/>
              </svg>
              <a href="#" class="text-decoration-none text-reset stretched-link">更多</a>
            </div>
          </div>